<% include _header %>
<div>
<form method="post">
  <input name="title" type="text" class="form-control" placeholder="Title" >
  <input name="author" type="text" class="form-control" placeholder="Your Name">
  <textarea name="body" class="form-control" placeholder="Your Name"></textarea>
  <input type="submit" value="Post">
</form>
</div>
</body>
</html>
